.row{
    display: flex;
    flex-direction: row;
}
.flex-item{
    text-align: center;
    padding: 0.5em;
    background-color: gray;
    border: 1px solid white;
    box-shadow: white 0 0 1px;
    cursor: pointer;
}
mini-character-card {
    padding: 0;
}
td{
    border: 1px solid rgb(0, 0, 0);
}
.rank-head{
    width: 5%;
}
.attacktype-head{
    width: 30%;
}
.rank{
    text-align: center;
    color: white;
}
.cell{
    display: flex;
    padding: 0.3em;
}