<p>tier-list works!</p>
<div class="d-flex" style="gap: 1em; margin: 0.5em;">
    <div class="col-3 flex-item" style="flex: 1"
        (click)="sorting = 'story';">
        Story
    </div>
    <div class="col-3 flex-item" style="flex: 1"
        (click)="sorting = 'boss';">
        Boss
    </div>
    <div class="col-3 flex-item" style="flex: 1"
        (click)="sorting = 'pvp';">
        PvP
    </div>
</div>
<table class="table">
    <tr>
        <th class="rank-head">Rank</th>
        <th class="attacktype-head">Burst 1</th>
        <th class="attacktype-head">Burst 2</th>
        <th class="attacktype-head">Burst 3</th>
    </tr>
</table>
<table *ngFor="let rank of rankTypes">
    <tr>
        <td class="rarity" [style.background-color]="rank[1][1]">{{rank[0]}}</td>
        <td class="cell">
            <div class="d-flex gap-1">
                <ng-container  *ngFor="let c of burst1">
                <mini-character-card *ngIf="c[sorting] == rank[0]"
                    [ranking]="c"
                    (click)="navigate(`/characters/${c.character?.id}`)"
                >
                    </mini-character-card> 
                </ng-container> 
            </div>
        </td>
        <td class="cell">
            <div class="d-flex gap-1">
                <ng-container *ngFor="let c of burst2">
                <mini-character-card *ngIf="c[sorting] == rank[0]"
                    [ranking]="c"
                    (click)="navigate(`/characters/${c.character?.id}`)"
                >
                    </mini-character-card> 
                </ng-container>
            </div>
        </td>
        <td class="cell">
            <div class="d-flex gap-1">
                <ng-container *ngFor="let c of burst3">
                <mini-character-card *ngIf="c[sorting] == rank[0]"
                    [ranking]="c"
                    (click)="navigate(`/characters/${c.character?.id}`)"
                >
                    </mini-character-card> 
                </ng-container>
            </div>
        </td>
    </tr>
</table>
<!-- <table>
    <tr class="">
        <th class="rank-head">Rank</th>
        <th class="attacktype-head">Burst 1</th>
        <th class="attacktype-head">Burst 2</th>
        <th class="attacktype-head">Burst 3</th>
    </tr>
    <tr class="rank" *ngFor="let rank of rankTypes">
        <td [style.background-color]="rank[1][1]">{{rank[0]}}</td>
        <td>
            <ng-container *ngFor="let c of burst1">
               <mini-character-card *ngIf="c[sorting] == rank[0]"
                [ranking]="c"
               >
                </mini-character-card> 
            </ng-container>
        </td>
        <td  class="d-flex gap-2">
            <ng-container *ngFor="let c of burst2">
               <mini-character-card *ngIf="c[sorting] == rank[0]"
                [ranking]="c"
               >
                </mini-character-card> 
            </ng-container>
        </td>
        <td>
            <ng-container *ngFor="let c of burst3">
               <mini-character-card *ngIf="c[sorting] == rank[0]"
                [ranking]="c"
               >
                </mini-character-card> 
            </ng-container>
        </td>
    </tr>
</table> -->
